@import url("./color.css");
@import url(./animation.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: Arial, Helvetica, sans-serif;
background: var(--off-white);
color: #333333;
}

header{
    background: var(--marrom-escuro);
    color: var(--branco);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #ffffff;
}

.logo img{
    width: 50px;
    height: 50px;
    margin-bottom:10px ;
}

nav{
    display: flex;
    gap: 25px;
}

nav a{
color: white;
text-decoration: none;
font-weight: bold;
}

nav a:hover{
    color: #ffd699;
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;



    background: linear-gradient(
        120deg, 
        var(--bege-claro),
        var(--marrom-medio)
    );
    background-size: 400% 400%;
    animation: gradientBackground 10s linear infinite;
}

.texto-banner{

    width: 45%;
    color: #2f3440;
    position: relative;
    animation: entrarEsquerda 2s ease-out forwards;
}




.texto-banner h1{
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 15px;
}
.texto-banner p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner img{
    width: 400px;
border-radius: 15px;

  position: relative;
  animation: entrarDireita 2s ease-out forwards;
}


button{
    background: #8b5b3c;
    height: 40px;
    width: 200px;
    color: var(--branco);
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.titulo{
    text-align: center;
    margin: 50px 0;
    font-size: 34px;
    animation: flutuar 3s ease-in-out infinite;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
}

.card{
    width: 280px;
    background:white;
    border-radius: 17px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.card img{
    width: 100%;
    height: 180px;
   object-fit: cover;
   transition: 0.4s; 
}

.card h3{
    margin: 20px 0 10px;
}

.card p{
    padding: 0 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

footer{
    background: var(--marrom-escuro);
    color: var(--branco);
    align-items: center;
    text-align: center;
}

footer h1{
    font-size: 14px;
    font-weight: 100;
    padding: 5px;
}
footer h2{
    font: 4px;
    font-weight: 300;
}